@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/GrowHub_LandingLogo.png" alt="Garden Hub Logo" width="1000" />
    @* <h1 class="display-4">Welcome to Garden Hub!</h1> *@
    <p class="display-4">Your modern web solution for caring for your gardens and plants!</p>
</div>
