@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Garden Hub!</h1>
    <p>Your modern web solution for caring for your gardens and plants!</p>
</div>
